/* reset margin padding pada body*/
body{
    margin: 0;
    padding: 0;
}

.logo{
    width: 5rem;
}

/* sebagai flex */
nav {
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    padding: 0.5rem;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: blue;
    text-decoration: none;
}

nav ul li a:hover {
    border-bottom: 2px solid orange;
}